<h1>Create Book</h1>

<%= form_for @book do |f| %>
    <%= f.label 'Title'%><br>
    <%= f.text_field :title %><br>
  
    <%= f.label 'Author' %><br>
    <%= f.text_field :author %><br>

    <%= f.label 'Year Published' %><br>
    <%= f.text_field :year_published %><br>
 
    <%= f.label 'Description' %><br>
    <%= f.text_area :description %><br>
  
    <%= f.submit 'Create Book' %><br>

<% end %>
