<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>
  <div class="col-md-8">
    
    <h1 class="title"><%= @book.title%></h1>
    <h2 class="author">by <%= @book.author %></h2><br>
    
    <h4>Average Rating</h4>
    <div class="average-review-rating" data-score=<%= @book.average %>></div>
    <h5 class="genre"><%= @book.genre_name %></h5>
    <h5 class="year_published">Year Published: <%= @book.year_published %></h5>
    <br>
    <h4>Description:</h4>
    <p class="description"><%= @book.description %></p>
    <button type="button" class="js-next btn btn-info" data-id="
    <%=@book.id%>">Next Book</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
      
    <br>
    <h4>Reviews</h4>
    <div class="reviews">
      <%= render @book.reviews %>
    </div>
    
    <div>
      <%= form_for([@book, @book.reviews.build]) do |f| %>
      

        <div id="rating-form">
          <%= f.label 'Rating'%>
        </div>

        <%= f.label 'Comment'%><br>
        <%= f.text_area :comment %><br>

        <%= f.submit %>
      <% end %>        
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p><%= link_to "Home", root_path %></p>
    <% if @book.user_id == current_user.id %>
      <p><%= link_to "Edit", edit_book_path(@book) %></p>
      <p><%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
  </div> 
</div>


<script id="review-template" type="text/x-handlebars-template">
  <form class="new_review" id="new_review" action="/books/<%= @book.id %>/reviews/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="review-rating" data-score={{rating}}></div>
      <p>{{comment}}</p>
  </form>
</script>

<script type="text/javascript" charset="utf-8">
  
  $(function () {

    $(".js-next").on("click", function () {
      let nextId = "<%= @book.next.id %>" 
      $.get(`/books/${nextId}.json`, function (data) {
        const bookData = data;
        $(".book-show").attr('src', bookData["book_img"])
        $(".title").text(bookData["title"]);
        $(".author").text(bookData["author"]);
        //debugger
        $("div.average-review-rating").attr("data-score", bookData["average"])
        $(".genre").text(bookData["genre"]["name"]);
        $(".year-published").text(bookData["year-published"]);
        $(".description").text(bookData["description"]);
        const reviews = bookData["reviews"]
        $(".reviews").empty()
        reviews.forEach(function (rev) {
            $(".reviews").append(rev['rating'])
            $(".reviews").append("<p>" + rev['comment'] + "</p>")
            
        }) 
        // re-set the id to current on the link
        $(".js-next").attr("data-id", bookData["id"]);
        nextId = "<%= @book.next.id %>"
      });
    });
  });

</script>



<!-- Raty -->

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
      $('.star-rating').raty('reload')
    },
    path: '/assets'
  });
</script>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score')
    },
    path: '/assets'
  });
</script>

<script>
  $('#rating-form').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>


 






 
