<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>
  <div class="col-md-8">
    
    <h1><%= @book.title %></h1>
    <h2>by <%= @book.author %></h2><br>
    
    <h4>Average Rating</h4>
    <div class="average-review-rating" data-score=<%= @average %>></div>
    <h5><%= @book.genre_name %></h5>
    <h5>Year Published: <%= @book.year_published %></h5>
    <br>
    <h4>Description:</h4>
    <p><%= @book.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
      
    <br>
    <h4>Reviews</h4>
    <div class="reviews">
      <%= render @book.reviews %>
    </div>
    
    <div>
      <%= form_for([@book, @book.reviews.build]) do |f| %>
      

        <div id="rating-form">
          <%= f.label 'Rating'%>
        </div>

        <%= f.label 'Comment'%><br>
        <%= f.text_area :comment %><br>

        <%= f.submit %>
      <% end %>        
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p><%= link_to "Home", root_path %></p>
    <% if @book.user_id == current_user.id %>
      <p><%= link_to "Edit", edit_book_path(@book) %></p>
      <p><%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
  </div> 
</div>

<!-- Handlebars -->
<script id="review-template" type="text/x-handlebars-template">
  <form class="new_review" id="new_review" action="/books/<%= @book.id %>/reviews/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="review-rating" data-score={{rating}}></div>
      <p>{{comment}}</p>
  </form>
</script>

<!-- Raty -->

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
      $('.star-rating').raty('reload')
    },
    path: '/assets'
  });
</script>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    },
    path: '/assets'
  });
</script>

<script>
  $('#rating-form').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>







